$gray: #b5b5b5;
$gray-light: #dcdcdc;
$gray-lighter: #eae7e3;
$gray-dark:#94989c;
$gray-darker: #6c7277;
$gray-darkest: #4a5156;

$orange: #ff7349;
$orange-light: #fff0ec;

$blue-light: #cadde2;

$green: #69e0c2;
$green-light: #e6faf5;

$black: #1d262d;

$energy-a: #0a984c;
$energy-b: #21b34b;
$energy-c: #99c83c;
$energy-d: #ebe622;
$energy-e: #f0b418;
$energy-f: #df7728;
$energy-g: #e52e2a;

$toggle-background-color-on: dodgerblue;
$toggle-background-color-off: darkgray;
$toggle-control-color: white;
$toggle-width: 20px;
$toggle-height: 10px;
$toggle-gutter: 1px;
$toggle-radius: 50%;
$toggle-control-speed: .15s;
$toggle-control-ease: ease-in;

// These are our computed variables
// change at your own risk.
$toggle-radius: calc($toggle-height / 2);
$toggle-control-size: calc($toggle-height - ($toggle-gutter * 2));
